@font-face {
    font-family: Lobster-Regular;
    src: url(./styles/font/Lobster-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(./styles/font/Oswald-VariableFont_wght.ttf);
}

:root{
    --color-main-ogange:#ffa52e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Lobster-Regular;
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(53, 53, 53, 0.55);
    background-attachment: fixed;
}

.bg-video{
    position: absolute;
    width: 100%;
    max-width: 1282px;
    top: 0;
    z-index: -100;
}

.bgvideo{
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1000;
    filter: blur(5px);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(53, 53, 53, 0.85);
    padding: 0 20px;
}

.header-logo{
    width: 100px;
}

.header-img-box{
    height: 73px;
    margin: 20px;
}

.header-navigation{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 30px 40px;
    font-size: 25px;
}


.header-navigation li{
    display: flex;
    height: 60px;
}

.header-link-container{
    display: flex;
    border-radius: 10px;
    padding: 10px;
}


.header-link-container:hover{
    display: flex;
    background-image: url(./img/images.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: .8s;
}

.header-navigation a{
    color: var(--color-main-ogange);
    text-decoration: none;
    cursor: pointer;
}

.header-link-container:hover > a{
    color: #000;
    text-decoration: underline;
}

.header-navigation a:active{
    text-decoration: none;
    color: #000;
}

#active{
    text-decoration: underline;
}

nav{
    display: flex;
    align-items: center;
}

.main-page-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Oswald;
    color: #ffffff;
}

.main-page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.main-page-heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.main-heading{
    font-size: 60px;
}

.sourse-of-product{
    color: #ffc82e;
}

.sourse-of-product, .feature{
    font-size: 33px;
}

.advances{
  display: flex;
  margin-top: 30px;
}

.first-column, .second-column{
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.advances-list li{
    max-width: 350px;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .main-page-wrapper{
        padding-top: 140px;
    }

    .main-page-heading-container {
        padding: 0 15px;
    }

    header{
        justify-content: space-between;
    }

    .header-navigation{
        flex-direction: column;
        font-size: 15px;
        gap: 0 40px;
        margin: 10px 0;
    }

    .header-navigation li{
        height: 30px;
    }

    .header-link-container{
    width: 170px;
    padding: 0 10px;
    }

    .main-heading{
        font-size: 35px;
        letter-spacing: 3px;
    }

    .sourse-of-product, .feature{
        font-size: 20px;
        margin-top: 10px;
    }

    .advances{
        flex-direction: column;
    }

    .advances-list li{
        font-size: 16px;
    }
} 

.catalog-link-container{
    display: flex;
    justify-content: center;
    max-width: 750px;
    padding: 20px;
    flex-grow: 1;
    margin-top: 40px;
}

.catalog-link{
    text-align: center;
    background: #ffc82e;
    color: #fff!important;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-radius: 10px;
    line-height: 54px;
    width: 250px;
    box-shadow: 0px 2px 5px 2px rgb(255 165 46 / 61%);
    text-shadow: 1px 1px 1px #000;
}

.catalog-link:hover{
    background-color: var(--color-main-ogange);
}

.photo-section{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 30px;
    background-color: rgba(53, 53, 53, 0.55);
}

.photo-section-container{
    display: flex;
    width: 100%;
    max-width: 1100px;
}

.photo-container img{
    border-radius: 10px;
}

.photo-container{
    width: 320px;
    height: 320px;
}

.photo-section-paragraph{
    display: flex;
    color: #fff;
    font-family: Oswald;
    font-size: 25px;
    padding: 30px 30px;
    text-align: justify;
}

@media screen and (max-width: 768px){
    .photo-section-container{
        flex-direction: column;
        align-items: center;
    }

    .photo-section-paragraph{
        font-size: 17px;
    }
}

.location{
    width: 100%;
    font-size: 33px;
}

.location-header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    line-height: 65px;
}

.location-text{
    text-align: center;
    margin: 0 20px;
    color: #fff;
}

@media screen and (max-width: 768px){
    .location{
        font-size: 18px;
    }

    .location-header{
        line-height: 36px;
    }

    footer{
        flex-direction: column;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background-color: #505050;
    color: #ffffff;
    font-family: Oswald;
    padding: 0 50px;
}

.footer-location-text{
    margin-left: 30px;
    margin-right: 13px;
    text-align: center;
}

footer a{
    color: var(--color-main-ogange);
}

.bgvideo2{
    position: fixed;
}

.main-page-section2{
    background-attachment: fixed;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
}

.main-page-wrapper2{
    flex-direction: column;
    margin-top: 140px;
}

.main-page-wrapper2 h1{
    margin-bottom: 20px;
}

.catalog-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border: 2px solid var(--color-main-ogange);
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(53, 53, 53, 0.8);
    padding: 15px;
    gap: 10px;
}

.catalog-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 320px;
}

.catalog-item-img{
    width: 250px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.catalog-item-img:hover{
    margin-top: -40px;
    width: 300px;
    height: 385px;
    transition: .5s;
}

 @media screen and (max-width: 768px) {
    .main-page-wrapper2{
        margin-top: 0px;
    }

    .catalog-item{
        min-width: 250px;
    }

    .catalog-img-container{
    width: 200px;
    height: 230px;
    }

    .catalog-item-img{
        width: 200px;
        height: 230px;
    }

    .catalog-link{
        width: 200px;
    }
} 

.characteristics{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
    align-items: center;
}

.catalog-item-name{
    color: var(--color-main-ogange);
    font-size: 35px;
}

.content-box{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.order-heading{
    text-align: center;
}

.advances-list a{
    color: var(--color-main-ogange);
}


