@import url(../zeroing/zeroing.css);
:root {
  --main-text-color: #b89f4c;
}

.wrapper {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: absolute;
}

.logo-and-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.6);
}

.img-logo img {
  margin: 20px;
}

.header-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 620px;
  margin-bottom: 30px;
}

.header-list a {
  color: var(--main-text-color);
  text-decoration: none;
}

.header-list a:hover {
  text-decoration: underline;
}

.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 100%;
  height: 940px;
  background-image: url(../../img/header/bg.png);
}

.main-heading-box h1 {
  font-size: 70px;
  color: white;
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #363636;
  height: 50px;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  width: 150px;
}

.socials-list a img:hover {
  opacity: 0.4;
}

.subs-preview {
  margin-left: 20px;
  cursor: default;
  text-decoration: underline;
  color: #646464;
}

.header-input {
  margin-left: 20px;
  border: 1px solid var(--main-text-color);
  background: none;
}

.header-arrow {
  color: var(--main-text-color);
}

.promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  height: 70px;
  width: 100%;
}

.promotion-text {
  color: var(--main-text-color);
}

.welcoming-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 750px;
  background: #dddddd url(../../img/greeting/horse.png);
  background-position: 1210px 40px;
  background-repeat: no-repeat;
  font-size: 25px;
}

.welcoming-information-heading {
  font-size: 33px;
  align-self: center;
  margin: 80px 0;
}

.welcoming-information p,
.welcoming-button {
  margin-bottom: 60px;
  margin-left: 80px;
}

.welcoming-text {
  max-width: 600px;
}

.welcoming-text-stylized {
  max-width: 600px;
  color: var(--main-text-color);
}

.link-container {
  max-width: 600px;
}

.welcoming-button {
  color: var(--main-text-color);
  font-size: 20px;
  width: 230px;
  height: 65px;
  background: none;
  border: 1px solid var(--main-text-color);
}

.welcoming-button:hover {
  color: black;
  border-color: black;
}

.membership {
  display: flex;
  width: 100%;
  background-image: url(../../img/promo/promo-bg.png);
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1px solid red;
}

.benefits-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.benefits-container-text h2 {
  color: var(--main-text-color);
  margin: 30px 0;
  font-size: 33px;
}

.benefits-paragraph {
  max-width: 600px;
  text-align: center;
  margin: 30px 0;
  font-size: 25px;
  color: white;
}

.benefits-button {
  margin: 30px 0;
  color: white;
  width: 230px;
  height: 62px;
  background-color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  font-size: 25px;
}

.benefits-button:hover {
  background-color: #52482e;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1px solid red;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-container h2 {
  color: var(--main-text-color);
  margin: 30px 0;
  font-size: 33px;
}

.subscribe-img img {
  margin-top: 30px;
  width: 150px;
}

.subscribe-prompting {
  text-align: center;
  margin: 30px 0;
  font-size: 25px;
  color: white;
}

.subscribe-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: 66px;
  margin-bottom: 20px;
}

.subscribe-input {
  width: 60%;
  height: 100%;
  font-size: 20px;
  border: none;
}

.subscribe-submit {
  width: 30%;
  height: 100%;
  font-size: 20px;
}

.services-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.services-info h2 {
  font-size: 33px;
  margin: 30px;
}

.services-text-stylized {
  max-width: 1000px;
  margin: 30px 40px;
  font-size: 25px;
  color: var(--main-text-color);
  text-align: center;
}

.services-img-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  width: 100%;
}

.services-img-container img{
  width: 30%;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(../../img/subscriptions/subscriptions-bg.png);
}

.price-icon {
  margin-top: 30px;
}

.price-text-stylized {
  max-width: 700px;
  margin: 30px 40px;
  font-size: 25px;
  color: var(--main-text-color);
  text-align: center;
}

.price-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1206px;
  color: white;
  margin-bottom: 40px;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 370px;
  border: 1px solid var(--main-text-color);
}

.visitor-status {
  margin-top: 25px;
}

.lesson-cost {
  margin: 25px auto;
}

.price-line {
  border-color: #c0ab77;
  size: 10px;
  width: 280px;
}

.lesson-paragraph {
  text-align: center;
  padding: 15px;
}

.button-booking {
  margin-top: auto;
  width: 80%;
  height: 60px;
  color: white;
  background-color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  font-size: 25px;
}

.button-booking:hover {
  background-color: #52482e;
}

.news-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../../img/news/news-bg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover
}

.news-section h2 {
  text-align: center;
  margin-top: 40px;
}

.news-heading-source {
  margin: 10px;
  text-align: center;
}

.news-one-day {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
  margin-bottom: 30px;
}

.news-date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  border: 1px solid #b89f5c;
}

.news-heading {
  display: flex;
  color: var(--main-text-color);
  font-size: 33px;
  text-align: center;
}

.news-paragraph {
  font-size: 18px;
  color: #8a8a8a;
  margin: 20px 0;
}

.news-container{
  align-self: flex-end;
  width: 90%;
  max-width: 900px;
  margin-right: 20px;
}

.news-text{
  max-width: 700px;
  margin-left: 30px;
}

.news-text a{
  color: #000;
}

.news-text a:hover{
  color: #646464;
}