.news-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 850px;
  background-image: url(./img/news/news-bg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.news-section-box-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
}

.news-section h2 {
  text-align: center;
  justify-content: center;
  font-size: 33px;
  font-weight: normal;
}

.news-heading-source {
  margin: 10px;
  text-align: center;
  color: #b89f5c;
  font-size: 25px;
}

.news-one-day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.news-date {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 35px;
  color: var(--main-text-color);
  min-width: 95px;
  height: 95px;
  border: 1px solid #b89f5c;
  margin: 0 30px 0 50px;
}

.news-heading {
  display: flex;
  color: var(--main-text-color);
  font-size: 33px;
  text-align: center;
}

.news-paragraph {
  font-size: 25px;
  color: #8a8a8a;
  margin: 20px 0;
}

.news-wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: flex-end;
}

.news-container {
  align-self: flex-end;
  max-width: 970px;
  margin-top: 50px;
  border-left: 1px solid #b89f5c;
  margin-bottom: 50px;
}

.news-text {
  max-width: 750px;
  margin-left: 30px;
  margin-right: 20px;
}

.news-text a {
  font-size: 13px;
  color: #000;
  font-weight: 700;
}

.news-text a:hover {
  color: #646464;
}

@media screen and (max-width: 768px){
  .news-section{
    min-height: 500px
  }

  .news-section h2 {
    font-size: 20px;
  }

  .news-heading-source{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .news-heading{
    font-size: 16px;
    margin-bottom: 10px;
  }

  .news-paragraph{
    font-size: 14px;
    margin-bottom: 10px;
  }

  .news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    border: none;
  }

  .news-date {
    font-size: 12px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    margin: 0 10px 0 20px;
  }

  .news-wrapper{
    margin: 0 auto;
    justify-content: center;
  }

  .news-section-box-heading {
    margin-top: 20px;
  }

  .news-container {
  margin-bottom: 0;
  }
}