.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.review-header {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  color: #b89f5c;
  background-color: #363636;
}

.visitors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  max-width: 700px;
  margin: 30px auto;
}

.visitors-photo {
  align-items: center;
}

.visitors-photo img {
  border-radius: 50%;
}

.visitors-review {
  text-align: center;
  margin: 30px auto;
  font-size: 25px;
  padding: 0 10px;
}

.visitor-post {
  font-size: 25px;
  color: #b89f5c;
  margin-bottom: 15px;
}

.visitor-place {
  font-size: 17px;
  color: #bcbcbc;
}