body{
    margin: 0;
    font-size: 18px;
    font-family: Arial;
}
.container-header-line{
    background-color: rgb(0, 128, 64);
    margin-bottom: 40px;
}
.container-header-text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
span{
    font-size: 20px;
    margin-top: 6px;
}
h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    text-align: center;
}

[class*="text"] {
    width: 900px;
    margin: 0 auto;
    font-size: 16px;
    text-align: justify;
}
.container-contacts-line{
    background-color: rgb(198, 3, 4);
}
.container-contacts-text{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    line-height: 8px;
}
li{
    margin-bottom: 10px;
}
ol{
    padding: 0;
    list-style-position: inside;
}
.container-text{
    margin-bottom: 40px;
}
.container-footer-line{
    background-color: rgb(255 128 64);
    height: 135px;
    display: flex;
    margin-bottom: 40px;
}
.container-footer-text{
    /* height: 100%; */
    margin-bottom: 0;
    margin-top: auto;
    padding: 1px;
    color: white;
    text-align: center;
}